database:
  host: ${DATABASE_HOST:jdbc:postgresql://localhost:5432}
  name: ${DATABASE_NAME:reporting}
  use-ssl: ${DATABASE_USESSL:false}
app:
  messaging:
    queues:
      course-completions:
        name: coursecompletions
      registered-learners:
        name: registeredlearners
    activemq:
      url: ${ACTIVEMQ_URL:tcp://localhost:61616}
      username: ${ACTIVEMQ_USERNAME:artemis}
      password: ${ACTIVEMQ_PASSWORD:artemis}
  partition-manager:
    - name: coursecompletions
      enabled: ${COURSE_COMPLETIONS_PARTITION_ENABLED:true}
      tableName: course_completion_events
      indexColumns: course_id,organisation_id,profession_id,grade_id,event_timestamp
      partitionLookaheadInDays: ${COURSE_COMPLETIONS_PARTITION_LOOKAHEAD_DAYS:7}
      cronSchedule: ${COURSE_COMPLETIONS_PARTITION_CRON_SCHEDULE:0 0 0 * * *}
      runOnStartup: ${COURSE_COMPLETIONS_PARTITION_RUN_ON_STARTUP:true}
  validation:
    url:
      protocols: ${URL_VALIDATION_VALID_PROTOCOL:http,https}
      host: ${URL_VALIDATION_VALID_HOST:}
      port: ${URL_VALIDATION_VALID_PORT:}
spring:
  datasource:
    username: ${DATASOURCE_USERNAME:root}
    password: ${DATASOURCE_PASSWORD:root-pw}
    url: ${DATASOURCE_URL:${database.host}/${database.name}?useSSL=${database.use-ssl}&requireSSL=false}
    driver-class-name: org.postgresql.Driver
  jackson:
    serialization:
      write_dates_as_timestamps: false
    default-property-inclusion: non_null
  jms:
    servicebus:
      enabled: ${JMS_USE_SERVICEBUS:false}
      connection-string: ${SERVICEBUS_CONNECTION_STRING:}
      pricing-tier: Premium
  flyway:
    locations: classpath:db/migration/{vendor}
  web:
    resources:
      add-mappings: false
  security:
    user:
      name: ${REPORT_SERVICE_BASIC_USERNAME:changeme}
      password: ${REPORT_SERVICE_BASIC_PASSWORD:changeme}
  cloud:
    azure:
      storage:
        blob:
          connection-string: "${BLOB_STORAGE_CONNECTION_STRING:DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:10000/devstoreaccount1;}"
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:ChangeMe}
  cache:
    redis:
      cache-null-values: false
      key-prefix: ${REDIS_KEY_PREFIX:report_service_}
      use-key-prefix: ${REDIS_USE_KEY_PREFIX:true}
      time-to-live: ${REDIS_CACHE_DEFAULT_TTL:3600000}
server:
  port: 9004
logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
  level:
    root: ${ROOT_LOGGING_LEVEL:INFO}
    uk.gov.cshr.report: ${UK_GOV_CSHR_REPORT_LOGGING_LEVEL:INFO}
    org.apache.http: WARN

oauth:
  serviceUrl: ${OAUTH_SERVICE_URL:http://localhost:8080}
  clientId: ${CLIENT_ID:9fbd4ae2-2db3-44c7-9544-88e80255b56e}
  clientSecret: ${CLIENT_SECRET:test}
  checkTokenEndpoint: ${OAUTH_CHECK_TOKEN_ENDPOINT:/oauth/check_token}
  checkTokenUrl: "${oauth.serviceUrl}${oauth.checkTokenEndpoint}"
  tokenEndpoint: ${OAUTH_TOKEN_ENDPOINT:/oauth/token}
  tokenUrl: "${oauth.serviceUrl}${oauth.tokenEndpoint}"
  identitiesListUrl: "${oauth.serviceUrl}/api/identities/map"
  identitiesMapForLearnersIdsUrl: "${oauth.serviceUrl}/api/identities/map-for-uids"
  identityMapMaxBatchSize: "${IDENTITIES_MAX_BATCH_SIZE:50}"
  jwtKey: ${jwt_key:TONterOunSTRUcIenscaDiSHoUrPanti}
  refresh:
    serviceTokenCache:
      beforeSecondsToExpire: ${REFRESH_SERVICETOKENCACHE_BEFORE_SECONDS_TOEXPIRE:0}

learnerRecord:
  serviceUrl: ${LEARNER_RECORD_URL:http://localhost:9000}
  summariesUrl: "${learnerRecord.serviceUrl}/summaries"
  eventsUrl: "${learnerRecord.serviceUrl}/events"
  bookingsUrl: "${learnerRecord.serviceUrl}/reporting/bookings"
  moduleRecordsUrl: "${learnerRecord.serviceUrl}/reporting/module-records"
  moduleRecordsForLearnersUrl: "${learnerRecord.serviceUrl}/reporting/module-records-for-learners"
  moduleRecordsForCourseIdsUrl: "${learnerRecord.serviceUrl}/reporting/module-records-for-course-ids"
  moduleRecordBatchSize: "${LEARNER_RECORD_BATCH_SIZE:100}"


registryService:
  serviceUrl: ${REGISTRY_SERVICE_URL:http://localhost:9002}
  civilServantsUrl: "${registryService.serviceUrl}/report/civilServants"
  civilServantsForUidsUrl: "${registryService.serviceUrl}/report/civil-servants-for-uids"

learningCatalogue:
  serviceUrl: ${LEARNING_CATALOGUE_SERVICE_URL:http://localhost:9001}
  eventsUrl: "${learningCatalogue.serviceUrl}/reporting/events"
  modulesUrl: "${learningCatalogue.serviceUrl}/reporting/modules"
  modulesForCourseIdsUrl: "${learningCatalogue.serviceUrl}/reporting/modules-for-course-ids"
  modulesForCourseIdsBatchSize: "${LEARNING_CATALOGUE_BATCH_SIZE:50}"

report:
  backEndAPICallBatchSize: ${BACKEND_API_CALL_BATCH_SIZE:50}

report-export:
  courseCompletions:
    maxRequestsPerUser: ${COURSE_COMPLETION_REPORTS_MAX_REQUESTS_PER_USER:1}
    jobCron: ${COURSE_COMPLETION_REPORTS_JOB_CRON:0 0 * * * *}
    defaultTimezone: "${COURSE_COMPLETION_REPORTS_DEFAULT_TIMEZONE:Europe/London}"
    tempDir: "${COURSE_COMPLETION_REPORTS_DEFAULT_TEMP_DIR:temp-courseCompletionsJob}"
    blobContainer: "${COURSE_COMPLETION_REPORTS_BLOB_CONTAINER:coursecompletionrequests}"
  registeredLearners:
    maxRequestsPerUser: ${REGISTERED_LEARNERS_REPORTS_MAX_REQUESTS_PER_USER:1}
    jobCron: ${REGISTERED_LEARNERS_REPORTS_JOB_CRON:0 0 * * * *}
    tempDir: "${REGISTERED_LEARNERS_REPORTS_DEFAULT_TEMP_DIR:temp-registeredLearnerJob}"
    blobContainer: "${REGISTERED_LEARNERS_REPORTS_BLOB_CONTAINER:registeredlearnerrequests}"

notification:
  serviceUrl: ${NOTIFICATION_SERVICE_URL:http://localhost:9006}
  sendEmailEndpointTemplate: "${notification.serviceUrl}/notifications/emails/{{TEMPLATE_NAME}}/send"
  successEmailTemplateName: ${REPORT_SUCCESS_EMAIL_NAME:REPORT_REQUEST_SUCCESS}
  failureEmailTemplateName: ${REPORT_FAILURE_EMAIL_NAME:REPORT_REQUEST_FAILURE}


info:
  name: "Report service API"
  description: "Provides reporting and management information data"
---

spring:
  config:
    activate:
      on-profile: production
